.Nav {
  margin-bottom: 50px;
}
.Nav_Right:hover {
  cursor: pointer;
}
.centerText h2 {
  text-transform: uppercase;
  font-weight: bold;
}
.col-xs-12 {
  transform: scale(1);
  transition: transform 0.5s;
}
.col-xs-12:hover {
  transform: scale(0.8);
  transition: transform 0.5s;
  cursor: pointer;
}

.Work_Btn {
  text-align: center;
  width: 400px;
  height: 100px;
  background-color: black;
}
.LOGO_ABOUT {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.LOGO_ABOUT div {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 50px;
  transform: scale(1);
  transition: transform 0.5s;
}
.LOGO_ABOUT div:hover {
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s;
  cursor: pointer;
}
.Work_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.Work_btn div {
  width: 400px;
  height: 50px;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  border: black 1px solid;
  margin-bottom: 50px;
}
.Work_btn div:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  animation-name: whiteToblack;
  animation-duration: 2s;
}
.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  z-index: 2;
}
.black_bg {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: fadein;
  animation-duration: 2s;
}
.modal_wrap li {
  list-style: none;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}
.modal_wrap li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.modal_close {
  transform: scale(1);
  transition: transform 0.5s;
}
.modal_close:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes whiteToblack {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: black;
  }
}
