@charset "UTF-8";
body {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.Nav_Right:hover {
  cursor: pointer;
}

.ProjectRole_des_div_last div {
  width: 500px;
  height: 300px;
  background-color: red;
}

.Work_btn div {
  width: 400px;
  height: 50px;
  background-color: black;
  text-align: center;
  padding-top: 10px;
  border: black 1px solid;
  margin-bottom: 50px;
}

.Work_btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Work_btn div:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-animation-name: whiteToblack;
          animation-name: whiteToblack;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  z-index: 2;
}

.black_bg {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.modal_wrap li {
  list-style: none;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.modal_wrap li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.modal_close {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.modal_close:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@-webkit-keyframes whiteToblack {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: black;
  }
}

@keyframes whiteToblack {
  from {
    opacity: 0;
    background-color: white;
  }
  to {
    opacity: 1;
    background-color: black;
  }
}

/* 작은 기기들 (태블릿, 768px 이상) */
/* 중간 기기들 (데스크탑, 992px 이상) */
@media (min-width: 992px) {
  .Project_des {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Project_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ProjectRole_des {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ProjectRole_des_div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ProjectRole_des_div_last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ProjectRole_des_div_last div {
    width: 1150px;
  }
}

/* 큰 기기들 (큰 데스크탑, 1200px 이상) */
/*# sourceMappingURL=ProjectTitle.css.map */