body {
  animation-name: fadein;
  animation-duration: 2s;
}
.Img_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}
.Img_Wrapper p {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
.Img_Gray {
  width: 300px;
  height: 300px;
  background-color: gray;
  margin-top: 40px;
  transform: scale(1);
  transition: transform 0.5s;
}
.Img_Gray:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
}
.Nav_Right {
  transform: scale(1);
  transition: transform 0.5s;
}
.Nav_Right:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s;
}
.LOGO_ABOUT {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.LOGO_ABOUT div {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 50px;
  transform: scale(1);
  transition: transform 0.5s;
}
.LOGO_ABOUT div:hover {
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s;
  cursor: pointer;
}
.modal_wrap {
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  z-index: 2;
}
.black_bg {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: fadein;
  animation-duration: 2s;
}
.modal_wrap li {
  list-style: none;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s;
}
.modal_wrap li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.modal_close {
  transform: scale(1);
  transition: transform 0.5s;
}
.modal_close:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
}
.Footer {
  text-align: center;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinDiv {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
